node_modules
android/.gradle
android/.idea
android/gradle
android/src/androidTest
android/src/test
android/android.iml
android/atupdatechecker.iml
android/consumer-rules.pro
android/gradlew
android/gradlew.bat
android/local.properties
android/proguard-rules.pro
lib
